@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background-color: black;
    color: white;
    
}

h1{
    text-align: center;
    font-weight: 2000;
    font-size: 3em;
    font-family: "Raleway", sans-serif;
}

.login{
    width: 25%;
    display: grid;
    grid-template-rows: 1fr;
    margin: 4em auto;
    border: 3px solid #282C2F;
    padding: 1.5em 0.5em;
    border-radius: 10px;
    background-color: #202124;
    text-align: left;
}
.loginLabel{
    font-size: 18px;
    font-weight: 2000;
    letter-spacing: 0.5px;
    
}
input{
    background-color:#323639 ;
    border: 0;
    margin: 0.5em 0;
    padding: 1.1em 1em;
    width: 100%;

}
.register-btn{
    color:#202124 ;
    font-weight: bold;
    padding: 1.2em 1em;
    border: 0;
    margin: 0.5em 0;
    width: 110%;
    background-color: #D6D6D7;

}
.register-btn:hover{
    background-color: black;
    color: white;
}

.redirect {
    background-color: #202124;
	border: none;
	text-decoration: underline;
    font-weight: 300;
    font-size: 15px;
}

.redirect:hover {
	cursor: pointer;
}

.error-dialogbox{
    text-align: center;
    color: red;
    font-size: 13px;
    font-style: italic;
}
.login-details{
    padding: 0 3em 0 2em;
}
p{
    text-align: center;
}